@import "../../global.scss";

.resume {
  background-color: #00DDFF;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  h1{
    font-size: 40px;
  }

  .arrow {
    height: 50px;
    position: absolute;
    cursor: pointer;

    @include mobile {
      display: none;
    }

    &.left {
      left: 100px;
    }

    &.right {
      right: 100px;
      transform: rotateY(180deg);
    }
  }

  .slider {
    height: 410px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    @include mobile {
      height: 100vh;
      flex-direction: column;
      justify-content: center;
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 800px;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
          width: 80%;
          height: 150px;
          margin: 15px 0;
        }

        .left {
          flex: 4;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;

          .leftContainer {
            width: 90%;
            height: 70%;
            display: flex;
            align-items: center;
            justify-content: center;

            .imgContainer {
              width: 50px;
              height: 50px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;

              @include mobile {
                width: 20px;
                height: 20px;
              }

              @include tablet {
                height: 40px;
              }

              img {
                width: 60px;
                object-fit:scale-down;
                object-position: center;

                @include mobile {
                  width: 15px;
                }
              }
            }

            h2 {
              font-size: 18px;
              font-family: "IM Fell Great Primer",serif;

              @include mobile{
                font-size: 13px;
              }
            }
            p {
              font-size: 13px;
              @include mobile{
                display: none;
              }
            }
            span {
              font-size: 12px;
              font-weight: 600;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
        .right {
          flex: 11;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;

          .icon-list{

              .icon {
                height: 50px;
                width: 50px;
                padding: 12px;
                text-align: center;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                box-shadow: 0 15px 1px rgba(50,50,93,.1),0 5px 3px rgba(0,0,0,.07);

                img {
                  height:50px;
                }

                @include mobile{
                  height: 20px;
                  width: 12px;
                  padding: 6px;
                  margin: 5px;
                }

                @include tablet{
                  height: 30px;
                  width: 30px;
                  padding: 20px;
                }
              }
          }
        }
      }
    }
  }
}

#resume > div > div:nth-child(3) > div > div.left > div > h2 {
  padding-left: 5px;
}