@import "../../global.scss";
.intro{
    background: white;
    display: flex;
    flex-direction: row;
    
    @include mobile{
        flex-direction: column;
      }

      @include tablet{
        flex-direction: column;
      }
    .left{
        flex:0.5;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 1s ease;
        
        @include mobile{
            flex: 3;
            margin: 24px;
            
          }

          @include tablet{
            flex: 1;
          }
        
        .outerborder{    
            border: 40px solid #15023a;
            margin: 40px;
            transition: all 1s ease;

            @include mobile {
                margin: 20px;
                border: 20px solid #15023a;
            }

            @include tablet {
                margin: 20px;
                border: 20px solid #15023a;
            }
            
            @include largeScreen {
                border: 0 solid transparent;
            }

            &.active{
                border: 0 solid transparent;
            }
            .midborder{
                margin: 40px;
                display: flex;
                align-items: center;
                justify-content: center;

                @include mobile{
                    margin: 10px;
                  }

                  @include tablet{
                    margin: 20px;
                  }
                
                @include largeScreen {
                    margin: 40px;
                    border: 40px solid #15023a;
                }

                .imageContainer{
                    width: 100%;
                    
                      @include tablet{
                        width: 74%;
                      }
                    img{
                        height: 90%;
                        width: 100%;
                        object-fit: scale-down;
                        object-position: center;
                        @include mobile{
                            height: 300px;
                            object-fit: cover;
                            object-position: center;
                          }
                    }
                }
            }
        }
    }
    .right{
        flex:0.5;
        position: relative;

        @include mobile{
            flex: 1;
          }

        .wrapper{
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        a{
            position: absolute;
            bottom: 10px;
            left: 40%;

            @include mobile{
                position: absolute;
                bottom: 1px;
                left: 75%;
            }
            img {
                width: 50px;
                animation: arrowBlink 2s infinite;
            }
            @keyframes arrowBlink {
                100% {
                    opacity: 0;
                }
            }
        }

        h1{
            font-size: 8vw; 
            margin:10px 0;
        }
        h2{
            font-size: 6vw; 
        }
        h3{
            font-size: 8vw;
            color: #15023a;
            
            span{
                font-family: 'IM Fell Great Primer', serif;
                font-size: inherit;
                color: crimson;
            }
            .ityped-cursor {
                animation: blink 1s infinite;
            }
            @keyframes blink{
                50%{
                    opacity: 1;
                }
                100%{
                    opacity: 0;
                }
            }
        }
    }
}