.myTypography {
    font-family: "IM Fell Great Primer",serif;
}

.tick {
    height:18px;
    width:18px;
    padding-right: 6px;
}

p {
    line-height: 1.8;
}

.MuiTab-root{
    text-transform: none;
}