.myTypography {
    font-family: "IM Fell Great Primer",serif;
}

.tick {
    height:18px;
    width:18px;
    padding-right: 6px;
}

p {
    line-height: 1.8;
}

//Specifically Overriding style.
.MuiTabs-root.styleTab {
    .MuiTab-root{   
        text-transform: none;
    }
}

.makeStyles-root-1 > .MuiAppBar-colorPrimary {
    color: #C7395F;
    background-color: #DED4E8;
    
}