$mainColor: #15023a;

$mobileWidth: 768px;

$largeWidth: 1229px;

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}

@mixin largeScreen {
    @media (max-width: #{$largeWidth}){
        @content
    }
}