$mainColor: #15023a;

$mobileWidth: 480px;
$tabletWidth: 768px;
$largeWidth: 1229px;

@mixin mobile {
    @media (max-width: #{$mobileWidth}){
        @content
    }
}

@mixin tablet {
    @media (min-width: #{$mobileWidth}) and (min-width: #{$tabletWidth}){
        @content
    }
}

@mixin largeScreen {
    @media (min-width: #{$largeWidth}){
        @content
    }
}

@mixin mediumScreen {
    @media (min-width: #{$mobileWidth}) and (max-width: #{$largeWidth}){
        @content
    }
}